<%-include("header");-%>
<a href="/">Go back</a>
<form action="" method="post">
    <label for="code">
        <h3>Become an admin</h3>
        <input type="text" name="code" id="">
    </label>
    <input type="submit" value="Enter">
</form>
<%-include("footer");-%>