<%-include("header");-%>
<a href="/">Go back</a>
<form action="" method="post">
    <label for="code">
        <h3>Enter the secret passcode</h3>
    </label>
        <input type="text" name="code" id="" class="textinput">
    
    <input type="submit" value="Enter" class="linkbutton">
</form>
<%-include("footer");-%>