<%-include("header");-%>
<div class="signup">
    <a href="/">Go back</a>
    <% if (typeof error!="undefined") { %>
        <p class="error"><%- error.msg %></p>
    <% } %>
    <form action="" method="post">
        <div class="forminput">
            <label for="firstName">
                <h3>First name</h3>
                <input type="text" name="firstName" id="firstName" class="textinput" required>
            </label>
        </div>
        <div class="forminput">
            <label for="lastName">
                <h3>Last name</h3>
                <input type="text" name="lastName" id="lastName" class="textinput" required>
            </label>
        </div>
        <div class="forminput">
            <label for="username">
                <h3>Username</h3>
                <input type="text" name="username" id="username" class="textinput" required>
            </label>
        </div>
        <div class="forminput">
            <label for="password">
                <h3>Password</h3>
                <input type="password" name="password" id="password" class="textinput" required>
            </label>
        </div>
        <div class="forminput">
            <label for="confirmPassword">
                <h3>Confirm password</h3>
                <input type="password" name="confirmPassword" id="confirmpassword" class="textinput" required>
            </label>
        </div>
        <input type="submit" value="Sign up" class="linkbutton">
    </form>
</div>
<%-include("footer");-%>