:root{
  --black:#000401;
  --background:rgb(39, 39, 39);
  --steel:rgb(43, 43, 43);
  --mid:#4E545C;
  --light:#8D9797;
  --font:white;
}
p,h1,h2,h3,h4,h5{
  margin: 0;
}
body {
  padding: 10px;
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: rgb(22, 22, 22);
  background: linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(39,39,39,1) 48%, rgba(22,22,22,1) 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

}

a {
  color: white;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--steel);
  border-radius: 20px;
  padding: 20px;
  gap: 10px;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.login>form,.signup>form{
  padding: 20px;
  gap: 20px;
}
.forminput>label{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.linkbutton{
  background-color: var(--black);
  border: 0;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  color: white;
}
.or-divider{
  font-size: 14px;
}
.messages{
  background-color: rgb(26, 26, 26);
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: auto;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  height: 500px;
}
.message{
  background-color: var(--black);
  border-radius: 10px;
  padding: 10px;
}
.textinput{
  background-color:var(--black);
  border: 0;
  padding: 10px;
  border-radius: 20px;
  color:white;
}
.messageinput{
  grid-column: span 2;
}
.messageform{
  width: 400px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
}
input{
  font-size: 18px;
}
.smalllink{
  font-size: 14px;
}
.deletebutton{
  background-color: var(--mid);
  border: 0;
  border-radius: 20px;
  padding: 10px;
  font-size: 18px;
  color: white;
  align-self: flex-end;
  width: 100px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--light); 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--background); 
  border: 1px solid var(--light);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--mid); 
}
